node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
api-gcs.*

# Environment variables
.env.local
.env*.local

# Native Code
android/
ios/

# macOS
.DS_Store

# native
android/
ios/

# Play Store
serviceKey.json

.env.local
